.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 0;
  align-items: center;
  gap: 100px;

  @include vp-1023() {
    padding: 100px 0;
    gap: 30px;
  }

  @include vp-767() {
    display: flex;
    flex-direction: column-reverse;
    padding: 57px 0 65px;
    gap: 35px;
  }
}

.contact__map {
  // &::after {
  //   content: "";
  //   display: block;
  //   width: 560px;
  //   height: 306px;
  //   background-color: $sugar-cane;
  //   background-size: cover;
  //   background-repeat: no-repeat;

  //   @media (min-width: 1024px) {
  //     background-image: url("../img/pic/map.webp");

  //     @media (min-resolution: 2dppx) {
  //       background-image: url("./../img/pic/map@2x.webp");
  //     }
  //   }

  //   @include vp-1023() {
  //     width: 324px;
  //     height: 335px;
  //     background-image: url("../img/pic/map-tablet.webp");

  //     @media (min-resolution: 2dppx) {
  //       background-image: url("./../img/pic/map-tablet@2x.webp");
  //       width: 324px;
  //       height: 335px;
  //     }
  //   }

  //   @include vp-767() {
  //     min-width: 290px;
  //     width: 100%;
  //     height: 316px;
  //   }
  // }
}

.contact__description {
  @include style-reset();
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;

  @include vp-1023() {
    margin-bottom: 27px;
  }
}

.contact__address {
  font-style: normal;
  margin-bottom: 21px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 22px;
    background-image: url("../img/sprite/mark.svg");
    background-repeat: no-repeat;

    @include vp-1023() {
      margin-top: 3px;
    }
  }

  @include vp-1023() {
    font-size: 16px;
    line-height: 24px;
    align-items: flex-start;
  }
}

.contact__tel {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 22px;
    background-image: url("../img/sprite/phone.svg");
    background-repeat: no-repeat;

    @include vp-1023() {
      margin-top: 2px;
    }
  }
}
