.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 0;
  align-items: center;
  gap: 43px;

  @include vp-1023() {
    padding: 100px 0;
    gap: 30px;
  }

  @include vp-767() {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column-reverse;
    padding: 59px 0 65px;
    gap: 35px;
  }
}


.contact__map {
  width: 100%;
  min-width: 290px;
  height: 304px;
  position: relative;

  @include vp-1023 {
    height: 334px;
  }

  @include vp-767 {
    order: 1;
    height: 316px;
  }


  &::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 560px;
    height: 304px;
    background-color: $sugar-cane;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;

    @media (min-width: 1024px) {
      background-image: url("./../img/pic/map.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("./../img/pic/map@2x.webp");
      }
    }

    @include vp-1023() {
      width: 100%;
      height: 334px;
      background-image: url("./../img/pic/map-tablet.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("./../img/pic/map-tablet@2x.webp");
        width: 100%;
        height: 335px;
      }
    }

    @include vp-767() {
      width: 100%;
      min-width: auto;
      height: 316px;
    }
  }
}


.contact__description {
  @include style-reset();
  margin-left: 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;

  @include vp-1023() {
    margin-bottom: 27px;
    margin-left: 0;
  }
}

.contact__address {
  font-style: normal;
  margin-bottom: 21px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
  margin-left: 56px;

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 22px;
    background-image: url("./../img/sprite/mark.svg");
    background-repeat: no-repeat;

    @include vp-1023() {
      margin-top: 3px;
    }
  }

  @include vp-1023() {
    font-size: 16px;
    line-height: 24px;
    align-items: flex-start;
    margin-left: 0;
  }
}

.contact__tel {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 56px;

  @include vp-1023() {
    margin-left: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 22px;
    background-image: url("./../img/sprite/phone.svg");
    background-repeat: no-repeat;

    @include vp-1023() {
      margin-top: 2px;
    }
  }
}
