.form {
  position: relative;
  padding: 50px 0 55px;

  @include vp-1023() {
    padding: 86px 0 100px;
  }

  @include vp-767() {
    padding: 56px 0 63px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 555px;
    position: absolute;
    background-color: $pale-blue;

    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    z-index: -1;

    @media (min-width: 1024px) {
      background-image: url("./../img/pic/form-bg.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("./../img/pic/form-bg@2x.webp");
      }
    }

    @include vp-1023() {
      background-image: url("./../img/pic/form-bg-tablet.webp");
      height: 100%;

      @media (min-resolution: 2dppx) {
        background-image: url("./../img/pic/form-bg-tablet@2x.webp");
      }
    }
  }
}

form {
  background-color: $tangora;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 50px;
  margin-left: 125px;

  @include vp-1023() {
    margin: 0 137px;
    padding: 45px 50px 50px;
  }

  @include vp-767() {
    margin: 0;
    padding: 34px 29px 40px;
    width: 100%;
  }

  & input {
    padding: 11px 16px;
    background-color: $alice-blue;
    margin-bottom: 19px;
    width: 100%;

    @include vp-767() {
      margin-bottom: 19px;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: rgba(1, 28, 64, 0.7);
    }
  }
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 60px 0 42px;
  align-items: center;

  @include vp-1023() {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__heading {
  @include style-reset();
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 8px;

  @include vp-1023() {
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767() {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.form__description {
  @include style-reset();
  font-size: 18px;
  line-height: 27px;
  margin-inline-start: 1em;
  align-self: flex-start;
  max-width: 352px;

  @include vp-1023() {
    margin-inline-start: 0;
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
  }

  @include vp-767() {
    padding: 0 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 33px;
  }
}

.form__title {
  @include style-reset();
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $alice-blue;
  margin-bottom: 25px;

  @include vp-767() {
    text-align: center;
    margin-bottom: 23px;
    padding: 0 9px;
  }
}

.form__approv label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;

  @include vp-767() {
    display: grid;
    gap: 9px;
    grid-template-columns: min-content 1fr;
    margin-bottom: 27px;
  }
}

.form__approv-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: $alice-blue;
  position: relative;

  @include vp-767() {
    width: 20px;
    height: 20px;
  }
}

input[type="checkbox"]:checked + .form__approv-icon::before {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  position: absolute;
  top: 6px;
  left: 4px;
  background-image: url("./../img/svg/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:focus + .form__approv-icon {
  outline: 2px solid $color-neon-blue;
}

.form__approv-label {
  font-size: 10px;
  line-height: 13px;
  color: $alice-blue;
  display: inline-block;

  @include vp-767() {
    padding-right: 46px;
  }
}

.form__btn {
  border: none;
  background-color: $alice-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 11px 10px;
}
