.header {
  position: relative;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-1439 {
    padding: 0 60px;
  }

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
    width: 100%;
  }

  &--menu {
    @include vp-767 {
      padding: 0 0 0 35px;
      flex-direction: column;
      background-color: rgba(0, 43, 102, 0.5);
      align-items: flex-end;
      height: 100vh;
      justify-content: normal;
      position: absolute;
      z-index: 9;
      min-width: 320px;
    }

    .header__box-mobile {
      @include vp-767() {
        padding: 20px 15px 0;
        background: $alice-blue;
      }
    }

    & svg {
      @include vp-767() {
        width: 42px;
        height: 22px;
        fill: $tangora;
      }
    }

    .user-nav {
      @include vp-767() {
        display: block;
        width: 100%;
        height: 100%;
      }

      .user-nav__list {
        @include vp-767() {
          display: flex;
          flex-direction: column;
          gap: 0;
          background-color: $alice-blue;
          padding: 26px 30px 0 15px;
          height: 100%;
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  & svg {
    fill: $alice-blue;

    @include vp-1023() {
      width: 38px;
      height: 20px;
    }
  }
}


.header__box-mobile {
  @include vp-767 {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 21px;
    padding-left: 2px;
    width: 100%;
  }
}

.header__button {
  display: none;

  @include vp-767() {
    display: block;
    margin-top: 3px;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 14px;
    background-image: url("./../img/svg/menu.svg");
  }

  &--close {
    @include vp-767() {
      width: 15px;
      height: 14px;
      background-image: url("./../img/svg/close.svg");
    }
  }
}

